body {
  overflow-x: hidden;
}

.fs-5 {
  padding-top: 0px;
  font-weight: 50px;
  font-family: sans-serif;
}

.flex-column {
  position: sticky;
}

p {
  font-family: sans-serif;
  font-weight: 200px;
}

.navbar {
  font-family: sans-serif;
  font-weight: 25px;
  text-align: center;
}

a:hover {
  color: #aa7afc !important;
}

.nav-item {
  padding: 7px;
  font-weight: 5px;
}

.nav-item:hover {
  color: #aa7afc;
}

.nav-link {
  color: white;
}

.about {
  background-color: white;
  height: 1200px;
  font-family: sans-serif;
  padding-top: 85px;
  height: max-content;
}

#lighth3 {
  font-size: 25px;
  font-weight: bolder;
}

#container-fluid2 {

  background-color: white;

}

.row2 {
  padding-top: 50px;
}



#container-fluid4 {

  background-color: white;
}

#container-fluid5 {
  background-color: black;
}

#container-fluid6 {
  background-color: white;
}

#darkh3 {
  color: white;
  padding-bottom: 50px;
}

html {
  font-family: sans-serif;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 75px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #aa7afc;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 14px;
}

#myBtn:hover {
  background-color: #aa7afc;
}

::-webkit-scrollbar{
  background-color: silver !important;
}

::-webkit-scrollbar-thumb{
  background-color: #aa7afc!important;
}


.bg-black {
  background-attachment: fixed;
}

.text-secondary {

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  background-position: top;
}

.home {
  background-image: url(/1111.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
  height: 100vh;
}

.px-4 {
  height: 405px;
}

@media (max-width: 1400px) {
  .nav-item {
    padding-top: 50px;
  }
}


.about-img {
  border-radius: 50%;
  height: 275px;
  width: 275px;
}

a:hover {
  color: #aa7afc;
}

.bi {
  color: white;
}

.aboutimg {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  padding: 25px;
  display: flex;
  object-fit: cover;
}


.title-left {
  font-size: 50px;
  font-weight: bold;
}

.abouttitle {
  font-size: 45px;
  text-decoration: underline;
}

#aboutp {
  font-size: 18px;
}

.navbar-toggler-icon {
  background-image: url(/chat.png);
}

.abouttext {
  text-align: center;
  padding-top: 7px;
  font-weight: bold;
  animation-name: aboutext;
  animation-duration: 1.5s;
  animation-iteration-count: inherit;
}

.abouttext:hover {
  color: #aa7afc;
}

.progress-bar {
  background-color: #aa7afc;
  animation-name: progression;
  animation-duration: 1.5s;
  animation-iteration-count: 1;


}

@keyframes aboutext {

  0% {
    color: black;
  }

  50% {
    color: #aa7afc;
  }

  100% {
    color: black;
  }

}


@keyframes progression {

  from {
    width: 0%;

  }

  to {
    width: fit-content;
  }

}



.progress {
  background-color: black;
  height: 55px;
  margin: 15px;
  border-radius: 25px;
}



.card-title {
  font-weight: bold;
  text-align: center;
}

.btn {
  background-color: #aa7afc;
  color: black;
  border: transparent;
}

.card-text {
  text-align: center;
}

h2 {
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  position: relative;
  margin: 30px 0 60px;
}

h2::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #8fbc54;
  left: 0;
  right: 0;
  bottom: -10px;
}

.col-center {
  margin: 0 auto;
  float: none !important;
}



.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}

b {
  color: #aa7afc !important;
}


.col-md-3 {
  padding-top: 45px;
}

.contacthead {
  padding-top: 35px;
  font-size: 35px;
  margin: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.btn-primary {
  margin-top: 15px;

}

.bi-github {
  color: black;
}

.bi-discord {
  color: black;
}

.bi-linkedin {
  color: black;
}

.context {
  font-weight: 20px;
  font-size: 18px;
  padding-top: 5px;
}

.check {
  float: left;
  padding: 6px;
  font-weight: bold;
}

.git {
  float: right;
  padding: 6px;
  font-weight: bold;
}


.col-lg-4 {
  padding: 15px;
  display: flex;
  justify-content: center;


}

.card {
  border: 3px solid #aa7afc;
  width: 305px;
  padding-top: 25px;
  padding-bottom: 5px;
  margin-top: 35px;
  margin-bottom: 35px;

}

#container-fluid3 {
  background-color: black;
  margin-top: 150px;

}

.card-img-top {
  height: 225px
}


.ab-bottom {
  color: black;
}

.row4 {
  padding: 50px;

}

.d-block {
  width: fit-content;
}


.d-block {
  height: 450px;
  width: 450px !important;
  border-radius: 50%;
  justify-content: center;
  margin: auto;
  display: block;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 65px;
  width: 65px;
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;

}

.cartext {
  font-size: 12px;
}

.footicon {
  justify-content: center;
  margin: auto;
  display: block;
  padding-bottom: 13px;

}

.fa-github {
  padding-right: 25px;
}



.fa-discord {
  padding-left: 25px;

}

.mb-4 {
  margin-bottom: 0;
  padding-bottom: 25px;
}

