body {
  overflow-x: hidden;
}

.fs-5 {
  padding-top: 0px;
  font-weight: 50px;
  font-family: sans-serif;
}

.flex-column {
  position: sticky;
}

p {
  font-family: sans-serif;
  font-weight: 200px;
}

.navbar {
  font-family: sans-serif;
  font-weight: 25px;
  text-align: center;
}

a:hover {
  color: #aa7afc !important;
}

.nav-item {
  padding: 7px;
  font-weight: 5px;
}

.nav-item:hover {
  color: #aa7afc;
}

.nav-link {
  color: white;
}

.about {
  background-color: white;
  height: 1200px;
  font-family: sans-serif;
  padding-top: 85px;
}

#lighth3 {
  font-size: 25px;
  font-weight: bolder;
}

#container-fluid2 {
  
  background-color: white;
}

.row2 {
  padding-top: 50px;
}

#container-fluid3 {
 
  background-color: black;
  

}


#container-fluid4 {
 
  background-color: white;
}

#container-fluid5 {
  background-color: black;
}

#container-fluid6 {
  background-color: white;
}

#darkh3 {
  color: white;
  padding-bottom: 50px;
}

html {
  font-family: sans-serif;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 75px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #aa7afc;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 14px;
}

#myBtn:hover {
  background-color: #aa7afc;
}

.bg-black {
  background-attachment: fixed;
}

.text-secondary {
  background-image: url(/1111.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
  background-position: top;
}


.px-4 {
  height: 405px;
}

.about-img {
  border-radius: 50%;
  height: 275px;
  width: 275px;
}

a:hover {
  color: #aa7afc;
}

.bi {
  color: white;
}

.aboutimg {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  padding: 25px;
  display: flex;
  object-fit: cover;
}


.title-left {
  font-size: 50px;
  font-weight: bold;
}

.abouttitle {
  font-size: 45px;
  text-decoration: underline;
}

#aboutp {
  font-size: 18px;
}

.navbar-toggler-icon {
  background-image: url(/chat.png);
}

.abouttext {
  text-align: center;
  padding-top: 7px;
  font-weight: bold;
}

.abouttext:hover {
  color: #aa7afc;
}

.progress-bar {
  background-color:#aa7afc;
}

.progress {
  background-color: black;
  height: 55px;
}



.card-title{
  font-weight: bold;
  text-align: center;
}

.btn{
  background-color:#aa7afc;
  color: black;
border:transparent;
}

.card-text{
  text-align: center;
}

h2 {
	color: #333;
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #8fbc54;
	left: 0;
	right: 0;
	bottom: -10px;
}
.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	padding: 0 70px;
}
.carousel .carousel-item {
	color: #999;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	min-height: 290px;
}
.carousel .carousel-item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #7AA641;
}
.carousel-control-prev, .carousel-control-next {
	width: 40px;
	height: 40px;
	margin-top: -20px;
	top: 50%;
	background: none;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 68px;
	line-height: 42px;
	position: absolute;
	display: inline-block;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 12px;
	height: 12px;
	margin: 1px 3px;
	border-radius: 50%;
	border: none;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

b{
  color: #aa7afc !important;
}

.carousel-item {padding-top: 65px;}

.col-md-3 {padding-top: 45px;}

.contacthead {
  padding-top: 35px;
  font-size: 35px;
}

.btn-primary {
  margin-top: 15px;
  
}

.bi-github {
  color: black;
}

.bi-discord {
  color:black;
}

.bi-linkedin {
  color:black;
}

.context {
  font-weight: 20px;
  font-size: 18px;
  padding-top: 5px;
}

.check {
  float: left;
  padding: 6px;
  font-weight: bold;
}

.git {
  float: right;
  padding: 6px;
  font-weight: bold;
}


.col-lg-4 {
  padding:50px;
 
}

.card {
  border: 3px solid #aa7afc ;
}

.card-img-top {
  height:225px
}


.ab-bottom{
  color: black;
}

.row4 {
  padding:50px
}

.mb-4 {
  padding:50px
}
